Body {
    background-color: #ebfbee;
}

#login-container {
    background-color: #99e9f2;
    position:absolute;
    top: 50%;
    left :50%;
    margin-top: -50px;
    margin-left: -100px;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}