Body {
    background-color: #ebfbee;
    position: absolute, -50px;
    top: 50%;
    left: 50%;
}

#login-container {
    background-color: #99e9f2;
    position:absolute;
    top: 50%;
    left :50%;
    margin-top: -50px;
    margin-left: -100px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    border-color: black;
}