<!DOCTYPE HTML>
<html>
    <head>
        <title>Dashboard</title>
         <link rel="stylesheet" href="{{ styles }}" />
         <link href="login.html" />
    </head>

    <style>

        body {
            background: #833AB4;
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    </style>

user.name = login.GET['name']

    <body>
        <h1>Dashboard</h1>
        <h4>Welcome {{ user.name }}</h4>
        <br>
        <a href="/create">Create Website</a>
        <a href="/mywebsites">My Websites</a>
        <br>
        <a href="/settings">Settings</a>
        <br>
        <a href="/logout">Logout</a>
    </body>
</html>