<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ styles }}" />
  </head>

  <style>
    .text {
      padding-left: 10%;
      padding-right: 10%;
    }
  </style>

  <body>
    <div id="LoginTitleContainer" , class="LoginTitleContainer">
      <h1 id="LoginTitle">Login</h1>
    </div>
    <div id="login-container">
      <div id="text">
        <input type="text" placeholder="Email/Username" />
        <br />
        <br />
        <input type="password" placeholder="Password" />
        <br />
        <button>Login</button>
      </div>
    </div>
  </body>
</html>
