<!doctype html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ styles }}" />
  </head>

  <style>
    .text {
      padding-left: 10%;
      padding-right: 10%;
    }
  </style>

  <body>
    <div id="LoginTitleContainer" , class="LoginTitleContainer">
      <h1 id="LoginTitle">Login</h1>
    </div>
    <div id="login-container">

      <form action="/login" method="post">
        Email: <input type="text" name='email' placeholder="Email" /><br/>
        Password: <input type="password" name='password' placeholder="Password" /><br/>
        <input type="submit">
      </div>
     </form>

    </div>
  </body>
</html>
